#page-give-classes-confirmation {
    background: var(--color-primary);
}

#page-give-classes-confirmation #container {
    width: 100vw;
    height: 100vh;
}

/* #page-give-classes-confirmation img {
    width: 533px;
    height: 255px;
    transform: rotate(90deg);
    } */

.middle-container{
    margin-top: 19rem;
    margin-left: 4rem;
}

.middle-container h1 {
    font: 700 3.2rem Archivo;
    line-height: 3.7rem;
    max-width: 18rem;
    color: var(--color-title-in-primary);
}

.middle-container p {
    color: var(--color-text-in-primary);
    font: 500 1.6rem Poppins;
    line-height: 2.6rem;
    max-width: 24rem;
}

